################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SymbolizerProject/v16
/x64/Debug
/BCGPStyleScenic320.dll
/BCGPStyleCarbon320.dll
/BCGPStyle2010White320.dll
/BCGPStyle2010Blue320.dll
/BCGPStyle2010Black320.dll
/BCGPStyle2007Silver320.dll
/BCGPStyle2007Obsidian320.dll
/BCGPStyle2007Luna320.dll
/BCGPStyle2007Aqua320.dll
/BCGCBPRO3200ud142.dll
/BCGCBPRO3200u142.dll
/bz2d.dll
/zlibd1.dll
/webpd.dll
/tinyxml2d.dll
/tinyxml2.dll
/tiffd.dll
/sqlite3.dll
/proj_d.dll
/openjp2.dll
/lzmad.dll
/libxml2.dll
/libssl-1_1-x64.dll
/LIBPQ.dll
/libpng16d.dll
/libexpatd.dll
/libcurl-d.dll
/libcrypto-1_1-x64.dll
/jpeg62.dll
/iconv-2.dll
/geos_cd.dll
/geosd.dll
/gdal302_d.dll
/tooltip.db
/proj.db
